$colorPink: #ff817e;
$colorPinkL: #fff9f8;
$colorGrey: #888;
body {
  margin: 0;
  padding: 0;
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}
p {
  color: $colorGrey;
  line-height: 27px;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: $colorGrey;
}

.main {
  background-image: url("../images/1st.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 40%;
  &__header {
    width: 100vw;
    display: flex;
    margin: 0 5rem;
    align-items: flex-end;
    li {
      a {
        color: #1e2528;
      }
      display: inline;
      padding: 15px;
      text-transform: uppercase;
      font-weight: 550;
    }
    &_logo {
      width: 100px;
    }
    &__navigation {
      padding: 0 5rem;
    }
  }
  &__beauty {
    background-image: url("../images/leaf.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 13%;
    width: 100vw;
    padding: 5rem 5rem;
    &__subtitle {
      color: $colorPink;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      font-size: 15px;
      line-height: 27px;
    }
    &__title {
      font-size: 55px;
      line-height: 60px;
      font-family: "Rufina", serif;
    }
    &__buttons {
      padding: 2rem 0;
      display: flex;
      align-items: center;
      &__contact-btn {
        padding: 18px 12px;
        background-color: $colorPink;
        width: 180px;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        text-align: center;
        color: white;
        &:hover {
          color: black;
        }
      }
      &__play-btn {
        padding: 15px;
      }
    }
  }
}

.about {
  background-image: url("../images/china-rose.png");
  background-position: left top;
  background-repeat: no-repeat;
  width: 100vw;
  text-align: center;
  justify-content: center;
  &__subtitle {
    color: $colorGrey;
    font-size: 20px;
    font-weight: 400;
    line-height: 0.8;
    text-transform: uppercase;
  }
  &__title {
    font-size: 45px;
    line-height: 80px;
    font-family: "Rufina", serif;
    margin: 0 5rem;
    background-image: url("../images/jasmine.png");
    background-position: right center;
    background-repeat: no-repeat;
  }
  &__read_more-btn {
    display: inline-block;
    padding: 20px 15px;
    background-color: $colorPink;
    width: 180px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    border-radius: 40px;
    color: white;
    &:hover {
      color: black;
    }
  }
  &__gallery {
    display: flex;
    margin: 5rem 0;
    &__inner {
      padding: 1px;
      margin: auto;
      position: relative;
      cursor: pointer;
      img {
        max-width: 100%;
      }
      &__alt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: $colorPink;
        font-weight: 300;
        font-size: 15px;
        color: white;
        opacity: 0;
        img {
          height: auto;
          margin: 0 auto 20px;
          width: 47px;
        }
        vertical-align: middle;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

.popular {
  text-align: center;
  &__title {
    font-size: 45px;
    line-height: 60px;
  }
  &__gallery {
    display: flex;
    &__block {
      margin: 1rem;
      padding: 2rem;
      border: 1px solid rgb(228, 223, 223);
      img {
        max-width: 100%;
      }
      &__subtitle {
        padding: 2rem 0;
      }
      &__button {
        padding: 15px 10px;
        background-color: black;
        color: white;
        width: 180px;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        text-align: center;
        border-radius: 30px;
        display: inline-block;
        transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        &:hover {
          background-color: $colorPink;
        }
      }
    }
  }
}

.comment {
  padding: 3rem 0;
  text-align: center;
  background-color: $colorPinkL;
  img {
    border-radius: 38px;
  }
  h3 {
    padding: 5 rem 0;
  }
}

.experience {
  width: 100vw;
  text-align: center;
  margin: 2rem 0;
  &__title {
    font-size: 45px;
    font-family: "Rufina", serif;
  }
  &__gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    &__block {
      position: relative;
      padding: (1rem 1rem 4rem);
      &__top {
        img {
          max-width: 100%;
        }
      }
      &__bot {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 10%;
        height: 30%;
        width: 80%;
        background-color: white;
        box-shadow: 0 5px 20px #f0f0f0;
        img {
          opacity: 0;
        }
        &:hover {
          transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
          transform: scaleY(1.2) translateY(-10%);
          img {
            opacity: 1;
          }
        }
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  background-color: $colorPinkL;
  &__no1 {
    width: 600px;
    display: flex;
    border-bottom: 1px solid #d4d3d3;
    &__inner {
      flex: 1;
      &__forms {
        margin-top: 30px;
        text-transform: uppercase;
        background-color: transparent;
        border: none;
        color: $colorGrey;
        height: 50px;
        flex: 1;
      }
    }
  }
  &__button {
    margin: 20px;
    display: inline-block;
    padding: 20px 15px;
    background-color: $colorPink;
    width: 230px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    border-radius: 40px;
    color: white;
    &:hover {
      color: black;
    }
  }
}

.latest {
  text-align: center;
  margin: 0 5rem;
  &__title {
    font-size: 45px;
    line-height: 60px;
    font-family: "Rufina", serif;
  }
  &__gallery {
    display: flex;
    &__block {
      margin: 2rem;
      padding: 2rem;
      border: 1px solid rgb(228, 223, 223);
      img {
        max-width: 100%;
      }
      &__subtitle {
        padding: 2rem 0;
      }
      &__button {
        padding: 15px 10px;
        background-color: black;
        color: white;
        width: 180px;
        font-size: 16px;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        text-align: center;
        border-radius: 30px;
        display: inline-block;
        a {
          color: white;
        }
      }
    }
  }
}

.get {
  text-align: center;
  justify-content: center;
  width: 100vw;
  margin: 0 5rem;
  &__title {
    font-size: 45px;
    line-height: 60px;
    font-family: "Rufina", serif;
  }
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    &__images {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 5rem;
      height: 240px;
      &__end {
        padding: 2px 0;
        margin-bottom: 5px;
        width: 100%;
        resize: none;
      }
    }
    &__data {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 15rem;
      height: 240px;
      p {
        line-height: 20px;
        margin-block-start: 1em;
        margin-block-end: 0;
      }
      &__end {
        padding: 2px 0;
        margin-bottom: 20px;
        width: 100%;
        resize: none;
      }
    }
    &__forms {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 25rem;
      height: 240px;
      padding-left: 5rem;
      &__end {
        padding: 10px 20px;
        margin: 13px;
        width: 100%;
        resize: none;
      }
    }
  }
  &__submit-btn {
    display: inline-block;
    padding: 18px 12px;
    background-color: $colorPink;
    width: 180px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    text-align: center;
    border-radius: 40px;
    color: white;
    &:hover {
      color: black;
    }
    margin-bottom: 70px;
  }
}

.footer {
  width: 100vw;
  text-align: center;
  padding: 3rem 2rem;
  background-color: $colorPinkL;
  li {
    a {
      color: black;
    }
    display: inline;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 550;
  }
  &__navi {
    padding: 2rem;
  }
  &__social {
    padding: 1rem 2rem;
  }
  &__copytight {
    padding: 3rem 2rem;
    font-size: 0.8;
    color: $colorGrey;
  }
}
